<div class="row">
	<div class="col-md-6">
		<strong><%= link_to "Home" , root_url %></strong>
	</div>
	
	<div class="col-md-5">
		<strong><p align='right'><%= link_to "Search", search_index_path %></p> </strong>
	</div>
		
</div>
<hr />