<h1> Welcome </h1>
<% if @profile %>
<%= link_to "My Profile",  @profile.meta %>
<%= link_to "logout", destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to "signup", new_user_registration_path %>
<%= link_to "sign in", new_user_session_path %>
<% end %>
