  <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Global Brain Exchange</div>
                <div class="intro-heading">The Best Minds <br> The Brightest Futures </div>
                <a href="#services" class="page-scroll btn btn-xl">What can GBX do for me?</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What we do</h2>
                    <h3 class="section-subheading text-muted">Revamping college recruiting for the 21st Century</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Register</h4>
                    <p class="text-muted">Sign-up is quick and simple.  Students can create their profiles to reflect their individual skills and interests</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Find Connections</h4>
                    <p class="text-muted">Use our search engine and deep-learning algorithims to find the students that are the best fit for your university.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Connect</h4>
                    <p class="text-muted">Using our messaging system connect with students and enlist top quality applicants for your university from across the globe</p>
                </div>
            </div>
        </div>
    </section>



    <!-- About Section -->
    <section id="about">
        <div class="container">
         
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row" style="margin-bottom: 50px">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <%= image_tag("matt_pic.jpg" , :class => "img-fluid rounded-circle")  %> 
                        <h4>Matthew Larkin</h4>
                        <p class="text-muted">Lead Web Designer</p>
                        <p> Matt is a recent graduate of Clark University where he studied to become a full-stack web developer.  His passions lie in programming and social change through both organizing and supporting humanitarian enterprises.   </p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <%= image_tag("sam.jpg" , :class => "img-fluid rounded-circle")  %> 
                        <h4>Samuel Schlesinger</h4>
                        <p class="text-muted">Lead Backend Developer</p>
                        <p> Sam is an Undergraduate Student at The University of Massachussets Amherst where he studies Computer Science and Math.  </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <%= image_tag("alex.jpg" , :class => "img-fluid rounded-circle")  %> 
                        <h4>Alex Fella</h4>
                        <p class="text-muted">Co-Founder</p>
                        <p> Alex is a philosophy graduate student at Yale University. Originally from Miami, Alex has spent most of his life in Spain, Italy, and China, while circumnavigating the globe before he was 21. Alex has worked on a number of educational and tech ventures and currently, Alex works as a Project Manager for Medicare, building technology for Alzheimer’s patients.</p>
                    </div>
                </div>
                 <div class="col-sm-3">
                    <div class="team-member">
                        <%= image_tag("arthur.jpg" , :class => "img-fluid rounded-circle")  %> 
                        <h4>Arthur Thomas</h4>
                        <p class="text-muted">Co-Founder</p>
                        <p class=> Arthur received his Bachelor’s in Industrial & Labor Relations from Cornell University.  Upon graduation, he worked in finance for many years at Morgan Stanley, Citigroup Global, and Amaranth Advisors. Mr. Thomas used his financial background and transitioned to investing in real estate and community development, focusing on residential rehabilitation. 
                        </p> <div class="collapse" id="Arthur"><p>Later Mr. Thomas formed the Divine Grace Foundation, a non-profit aimed at empowering Newark residents with academic proficiency, financial literacy, mental health care, and workforce employment skills.  Mr. Thomas is currently attending a master’s program at Yale University to enhance his ability to create programs and build strategic partnerships to reduce socio-economic inequities in underserved populations. </div><a  data-toggle="collapse" href="#Arthur" aria-expanded="false" aria-controls="arthur"> read more </a> </p>

                    </div>
                </div>
            </div>
            
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2
>                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Global Brain Exchange 2017</span>
                </div>
                
            </div>
        </div>
    </footer>

  
